<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimiento-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>MOVIMIENTOS</h2>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v2/movimientos"
               handle-as="json"
               method = "GET"
               on-response="mostrarMovimientos">
    </iron-ajax>
    <!--
    <div>
      <label for="">[[etmov]]</label>
      <input type="text" placeholder="20" name="" value={{vlmov::input}}>
    </div>
  -->
    <div>
      <button class="btn" on-click="invocarPeticion">Invocar</button>
    </div>
    <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
      <thead>
        <th>Id</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ciudad</th>
     </thead>
     <tbody>
       <template is="dom-repeat" items="{{movimientos}}" as="mov">
         <tr>
           <td>{{mov.id}}</td>
           <td>{{mov.fecha}}</td>
           <td>{{mov.importe}}</td>
           <td>{{mov.latitud}}</td>
           <td>{{mov.longitud}}</td>
           <td>{{mov.ciudad}}</td>
         </tr>
       </template>
     </tbody>
  </table>
    <div class="row">
  <template is="dom-repeat" items="{{movimientos}}" as="mov">



  <div class="card col-lg-3" style="width: 18rem;">
    <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[mov.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Movimiento: {{mov.id}}</p>
      <p class="card-text">Fecha: {{mov.fecha}}</p>
      <p class="card-text">Importe: {{mov.importe}}</p>
      <p class="card-text">Ciudad: {{mov.ciudad}}</p>
    </div>
  </div>

  </template>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientoApp extends Polymer.Element {
      static get is() { return 'movimiento-app'; }
      static get properties() {
        return {
          etmov: {
            type: String
          },
          vlmov: {
            type: String
          },
          movimientos: {
            type: Array
          },
          noTengoMovimientos: {
            type: Boolean,
            value: true
          }
        };
      }
      invocarPeticion(){
        this.$.obtenerMovimientos.generateRequest();
      }
      mostrarMovimientos(data){
        //console.log(data.detail.response)
        this.movimientos = data.detail.response
        //console.log(this.movimientos)
        this.noTengoMovimientos = false
      }
    }

    window.customElements.define(MovimientoApp.is, MovimientoApp);
  </script>
</dom-module>
